body{
  background: linear-gradient(to right,#ff1100,#3dd3b7);
  padding: 20px;
}
.header{
  text-align: center;
  color: #e07373;
}
.container{
  display: flex;
  gap: 20px;
  justify-content: center;
}
.leftdiv, .rightdiv{
  background: #ffffff;
  padding: 26px;
  border-radius: 6px;
  width: 400px;
}
.rightdiv{
  display: flex;
  flex-direction: column;
}
input,textarea,select{
  width: 100%;
  padding: 8px;
  margin: 6px 0;
  box-sizing: border-box;
}
.submit{
  padding: 10px;
  cursor: pointer;
  background-color: #1f5ea1;
  color: white;
  border: none;
  border-radius: 4px;
  width: 100%;
  margin-top: 10px;
}
.submit:hover{
  background-color: #04182e;
}
label{
  font-size: 13px;
  font-weight: bold;
  margin-top: 10px;
  display: block;
}
.event_card{
  border: 1px solid #620909;
  padding: 10px;
  margin-top: 10px;
  position: relative;
  border-radius: 4px;
}
.delbtn{
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  color: red;
  font-weight: bold;
}